.header {
  padding-top: 36px;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__logo {
}

.header__logo-primary {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: $primary-color;
}

.header__logo-accent {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: $logo-accent-color;
}

.header__nav {
  display: none;
}

.header__list {
}

.header__item {
}

.header__link {
}

.header__button {
}

.header__burger-menu-wrapper {
  margin-left: auto;
}

.header__burger-menu-button {
  background-color: transparent;
  border: none;
}

.header__burger-menu-icon {
  width: 33.53px;
  height: 19px;
}

.hero {
  padding-top: 29px;
}
.hero__wrapper {
}

.hero__img {
  width: 300px;
  height: 300px;
}

.hero__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  margin-top: 16px;
}

.hero__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: $text-color;
  margin-top: 20px;
}

.hero__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: $secondary-color;
  width: 290px;
  height: 60px;
  background: $bg-color-button;
  border-radius: 5px;
  margin-top: 33px;
}

.skills {
  padding-top: 53px;
}

.skills__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 3.33;
  text-align: center;
}

.skills__wrapper {
  padding: 8px 16px 38px 16px;
  background: $bg-color;
  border-radius: 5px;
  margin-bottom: 21px;
}

.skills__img {
  margin-left: auto;
  margin-right: auto;
}

.skills__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 4.44;
}

.skills__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.54;
  color: $text-color;
}

.skills__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: $secondary-color;
  width: 178px;
  height: 50px;
  background: $bg-color-button;
  border-radius: 5px;
  margin-top: 30px;
}

.about {
  padding-top: 50px;
}

.about__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 3.33;
  text-align: center;
}

.about__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.54;
  text-align: center;
  color: $text-color;
}

.about__list {
}

.about__item {
}

.about__number {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  margin-top: 40px;
}

.about__desc {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.54;
  color: $text-color;
  text-align: center;
  margin-top: 10px;
}

.about__img {
  margin-top: 24px;
  margin-bottom: 23px;
  margin-left: auto;
  margin-right: auto;
}

.price {
  padding-top: 84px;
}

.price__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 3.33;
  text-align: center;
  margin-bottom: 30px;
}

.price__list {
}

.price__item {
}

.price__img {
  margin-left: auto;
  margin-right: auto;
}

.price__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  margin-top: 28px;
}

.price__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.54;
  text-align: center;
  color: $text-color;
  margin-top: 17px;
}

.price__wrapper {
  width: 170px;
  height: 37px;
  background: $bg-color-price;
  border-radius: 5px;
  margin-top: 33px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.price__numbers {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.price__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: $text-color-price;
}

.contact {
  padding-top: 20px;
}

.contact__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 3.33;
  text-align: center;
  margin-bottom: 38px;
}

.contact__img {
  margin-bottom: 38px;
}

.contact__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: $text-color;
  margin-bottom: 31px;
}

.contact__form {
  display: flex;
  flex-direction: column;
}

.contact__input {
  width: 291px;
  height: 50px;
  border: 1px solid $text-color;
  border-radius: 5px;
  padding-left: 26px;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17px;
}

.contact__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: $secondary-color;
  width: 290px;
  height: 60px;
  background: $bg-color-button;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
}

.contact__bg-line {
  width: 290px;
  height: 1px;
  background: $bg-color-line;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  padding-top: 26px;
}

.footer__logo {
  margin-bottom: 15px;
}

.footer__logo-primary {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: $primary-color;
  text-align: center;
}

.footer__logo-accent {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: $logo-accent-color;
}

.footer__list {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.footer__item {
}

.footer__link {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.14;
  color: $text-color;
}

.footer__dot {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.14;
  color: $text-color;
  margin: 0 2px;
}
